div.left_col{
	margin-left: 4%;
	float: left;
	width: 48%;
}
div.right_col{
	margin-left: 52%;
	width: 50%;
}
div.footer {
    margin-top: 100px;
}
table.requests{
    border: 1px solid black;
    border-collapse: collapse;
}
table.requests tr{
    border: 1px;
}
table.requests td{
    border: 1px solid;
    padding: 8px;
}
table.requests th{
    border: 2px solid black;
    padding: 8px;
}
